.ipynb_checkpoints/
.venv
__pycache__/
venv/
.env
.DS_Store
*.pyc
.binder/
/site/
/.cache/
/docs/notebooks/
/docs/_build/

# Inputs
.github/
!.github/
!.github/workflows/
!.github/workflows/docs.yml
openspec
